// footer
.footer
	margin-top: auto
	+openAnimation

	&-wrapper
		padding: 50px 0 15px 0

		border-top: 1px solid $borderGray

	&-block
		display: flex
		justify-content: space-between

		&-logos
			&-logo
				&__img
					display: block
					user-select: none
					width: 65px

					will-change: transform

					+transition

					&:active
						+transformScale

		&-contact
			&-email-wrapper
				display: flex

				margin-bottom: 50px

			&-email
				margin-right: 15px

				padding: 8px 12px

				min-width: 250px

				background-color: $backgroundGray

				border-radius: 15px

				will-change: transform

				+transition

				&:active
					+transformScale

				&:last-child
					margin-right: 0

				&__subtitle
					font-size: 16px
					margin-bottom: 5px

				&__email
					font-size: 22px

			&-socials
				display: flex
				align-items: center

				margin-bottom: 25px

				&__link
					margin-right: 15px

					will-change: transform

					+transition

					& > svg
						width: 50px

					&:active
						+transformScale

					&:last-child
						margin-right: 0

			&-socials-read
				&-item
					margin-right: 15px

					padding: 8px 12px

					background-color: $backgroundGray

					display: inline-flex
					align-items: center

					font-size: 18px

					border-radius: 15px

					will-change: transform

					+transition

					&:active
						+transformScale

					& > img
						width: 120px
						margin-left: 10px

						user-select: none
						pointer-events: none

					&:last-child
						margin-right: 0

		&-nav
			&__link
				display: block
				margin-bottom: 15px
				+transition

				&:last-child
					margin-right: 0

				&.active
					color: $mainColor

				&:hover
					color: $mainColor

		&-subinfo
			margin-top: 50px

			padding-top: 15px
			border-top: 1px solid $borderGray

			&-block
				&__link
					margin-left: 25px
					font-size: 15px
					color: $gray

					+transition

					&.active
						color: $black

					&:hover
						color: $black

					&:first-child
						margin-left: 0

				&__span
					color: $gray
					font-size: 15px
