// footer
.footer
	margin-top: auto
	+openAnimation

	&-wrapper
		padding: 50px 0 15px 0

		border-top: 1px solid $borderGray

	&-block
		display: flex
		justify-content: space-between

		&-logos
			&-logo
				&__img
					display: block
					user-select: none
					width: 65px
					+transition

					&:active
						+transformScale

		&-contact
			&-email
				margin-bottom: 20px
				padding-bottom: 20px

				border-bottom: 1px solid $borderGray

				&:last-child
					margin-bottom: 0
					padding-bottom: 0

					border: none

				&__subtitle
					font-size: 16px
					margin-bottom: 10px

				&__email
					font-size: 22px

			&-social
				display: flex
				align-items: center

				margin-top: 50px

				&__link
					margin-right: 25px
					+transition

					& > svg
						width: 50px

					&:active
						+transformScale

					&:last-child
						margin-right: 0

		&-nav
			&__link
				display: block
				margin-bottom: 15px
				+transition

				&:last-child
					margin-right: 0

				&.active
					color: $mainColor

				&:hover
					color: $mainColor

		&-subinfo
			margin-top: 50px

			padding-top: 15px
			border-top: 1px solid $borderGray

			&-block
				&__link
					margin-left: 25px
					font-size: 15px
					color: $gray
					
					+transition

					&.active
						color: $black

					&:hover
						color: $black

					&:first-child
						margin-left: 0

				&__span
					color: $gray
					font-size: 15px
