// main-offer
.main-offer
	margin: 25px 0
	+openAnimation

	&__title
		font-size: 48px
		max-width: 80%

		margin-bottom: 25px

		& a
			color: $mainColor
			text-decoration: underline
			white-space: nowrap

			+SfRegular

	&-img-wrapper
		display: flex
		justify-content: space-between

	&-img
		width: 33%
		height: 500px

		+backgroundSetting
		+borderRadius

// main-goal
.main-goal
	margin: 125px 0

	&-wrapper
		display: flex
		align-items: center
		flex-direction: column

	&__image
		width: 90%

		user-select: none
		pointer-events: none

// main-services
.main-services
	margin: 75px 0

	&-wrapper
		display: flex
		justify-content: space-between

	&__title
		font-size: 48px
		width: 35%

	&-items-wrapper
		width: 60%

	&-item
		padding: 35px
		background-color: $backgroundGray
		margin-bottom: 15px
		+borderRadiusBlock
		+transition

		&:hover
			background-color: $mainColor
			color: $white

		&:hover a
			color: $white

		&__title
			font-size: 32px
			margin-bottom: 25px

		&__description
			font-size: 24px

			& a
				color: $mainColor
				text-decoration: underline
				+transition

// main-master
.main-master
	margin: 75px 0

	&-wrapper
		background-color: #F6F6F6
		padding: 35px
		+borderRadiusBlock

// main-master-about
.main-master-about
	&-wrapper
		display: flex
		justify-content: space-between
		align-items: center

	&-text
		width: 50%

		&__title
			font-size: 48px
			margin-bottom: 25px

		&__description
			font-size: 24px

	&-image
		width: 45%

		&__image
			user-select: none
			pointer-events: none

			width: 100%

// main-master-filmed-course
.main-master-filmed-course
	margin-top: 100px

	&-wrapper
		display: flex
		justify-content: space-between

	&-title
		width: 35%

		&__title
			font-size: 48px

	&-content
		width: 60%

		&__description
			font-size: 24px
			margin-bottom: 50px

			& > a
				color: $mainColor
				text-decoration: underline

		&-image
			width: 100%
			height: 450px

			+borderRadiusBlock
			+backgroundSetting

// main-master-upload-course
.main-master-upload-course
	margin-top: 100px

	&-text
		display: flex
		justify-content: space-between

		&__title
			width: 35%
			font-size: 48px

		&-descriptions
			width: 60%

			&__description
				font-size: 24px

				margin-bottom: 50px

				&:last-child
					margin-bottom: 0

	&__image
		margin-top: 75px

		user-select: none
		pointer-events: none

		width: 100%

	&-moderation__description
		margin-top: 75px
		margin-left: auto

		width: 60%
		font-size: 24px

	&-statistics__image
		display: block

		margin-top: 75px
		margin-left: auto

		user-select: none
		pointer-events: none

		width: 60%

// main-master-payment
.main-master-payment
	margin-top: 100px

	&-wrapper
		display: flex
		justify-content: space-between

	&-title
		width: 35%

		&__title
			font-size: 48px

	&-content
		width: 60%

		&-descriptions
			&__description
				font-size: 24px

				margin-bottom: 50px

				&:last-child
					margin-bottom: 0

		&__image
			margin-top: 75px

			user-select: none
			pointer-events: none

			width: 100%

		&-bottom__description
			margin-top: 50px

			font-size: 24px

		&-bottom__link
			margin-top: 50px
			width: 300px

// main-security-courses
.main-security-courses
	margin: 75px 0

	&-wrapper
		display: flex
		justify-content: space-between
		align-items: center
	
	&-text
		width: 50%

		&__title
			font-size: 48px
			margin-bottom: 25px

		&__description
			font-size: 24px

		&__link
			width: 50%
			margin-top: 50px

	&-image
		width: 45%

		&__image
			width: 100%

			user-select: none
			pointer-events: none

// // main-payment
// .main-payment
// 	margin: 75px 0

// 	&-wrapper
// 		display: flex
// 		justify-content: space-between

// 	&__title
// 		font-size: 46px
// 		width: 35%

// 	&-description
// 		width: 60%

// 		&__description
// 			font-size: 26px
// 			margin-bottom: 25px

// 		&-img
// 			margin-top: 75px
// 			display: flex
// 			justify-content: center

// 			&__img
// 				width: 100%

// 				user-select: none
// 				pointer-events: none

// main-faq
.main-faq
	margin: 75px 0

	&__title
		font-size: 46px
		margin-bottom: 75px

	&-item
		display: flex
		justify-content: space-between

		padding-top: 25px
		margin-bottom: 75px

		border-top: 1px solid $borderGray

		&:last-child
			margin-bottom: 0

		&__title
			font-size: 36px
			width: 35%

		&__description
			font-size: 26px
			width: 55%

// main-footer
.main-footer
	margin: 0 0 50px 0

	&-block
		text-align: center

		display: flex
		flex-direction: column
		align-items: center

		padding: 35px
		background-color: $backgroundGray

		+borderRadiusBlock

		&__title
			font-size: 48px
			margin-bottom: 25px

		&__description
			font-size: 26px
			margin-bottom: 50px

		&__btn
			width: 300px
