// media
@media screen and ( max-width: 1200px )
	// modal-window
	.modal-window
		&-content
			width: 95%

	// header
	.header
		&-nav
			display: none

		&-menu-button
			display: block

		&-user-menu
			display: none

	// reglog
	.reglog
		&-block-wrapper
			width: 75%

@media screen and ( max-width: 1100px )
	// cabinet
	.cabinet
		&-block
			flex-direction: column

			&-text
				width: 100%

			&-form
				margin-top: 75px
				width: 100%

	// footer
	.footer
		&-block
			&-nav
				display: none

			&-contact
				margin: 0

@media screen and ( max-width: 900px )
	// interface
	.title__mb
		margin-bottom: 50px

	.tab
		&-bottom
			width: 100%

	// cookie
	.cookie
		width: 95%

		&__title
			font-size: 18px

	// cabinet
	.cabinet
		&-card-user-info
			flex-direction: column
			text-align: center

			&-text
				margin: 50px 0 0 0

		&-block
			margin: 25px 0
			padding-bottom: 50px

			&-form
				margin-top: 25px

	// policy
	.policy
		&-wrapper
			width: 100%

	// footer
	.footer
		&-block
			&-subinfo
				flex-direction: column
				align-items: center

				&-block
					margin-top: 15px
					text-align: center

				&-block
					&__link
						display: block
						margin: 10px 0 0 

@media screen and ( max-width: 800px )
	// interface
	.title, .title__mb
		font-size: 38px

	// header
	.header
		&-modal-menu
			&-content
				width: 75%

@media screen and ( max-width: 750px )
	// footer
	.footer
		&-block
			flex-direction: column

			&-logos
				display: flex
				align-items: center

			&-contact
				margin-top: 75px

			&-social
				margin-top: 25px

	// nagibinstudio
	.nagibinstudio
		margin-top: 0
		margin-left: 50px

@media screen and ( max-width: 700px )
	// reglog
	.reglog
		&-block-wrapper
			width: 100%

@media screen and ( max-width: 600px )
	// interface
	.tab
		&-top
			&__title
				font-size: 21px

	// reglog
	.reglog
		&-block
			&__title
				font-size: 24px

	// modal-window
	.modal-window
		&-content
			margin: 25px 0
			padding: 25px

@media screen and ( max-width: 500px )
	// interface
	.description, .description__mt, .description__mb
		font-size: 21px

	// header
	.header
		&-modal-menu
			&-content
				width: 100%

		&-login
			&__link
				font-size: 16px
				& svg
					display: none

		&-menu-button
			margin-left: 15px

	// reglog
	.reglog
		&-block
			padding: 35px

	// cabinet
	.cabinet
		margin: 25px 0

		&-card-user-info
			&-avatar
				width: 125px
				height: 125px

			&-text
				margin: 25px 0 0 0

				&__name
					font-size: 28px

					& span
						font-size: 28px

		&-block
			margin: 50px 0
			padding-bottom: 25px

			&-text
				&__title
					font-size: 32px

				&__subtitle
					font-size: 18px

	// footer
	.footer
		&-block
			&-logos
				align-items: flex-start
				flex-direction: column

	// nagibinstudio
	.nagibinstudio
		margin-left: 0
		margin-top: 50px

@media screen and ( max-width: 450px )
	// modal-window
	.modal-window
		&-content
			padding: 15px

	// reglog
	.reglog
		&-block
			padding: 25px

			&__policy
				font-size: 12px

@media screen and ( max-width: 400px )
	// header
	.header
		&-modal-menu
			&-content
				padding: 25px